/Ficha1/HelloWorldApp/nbproject/private/
/Ficha1/HelloWorldApp/build/
/Ficha1/HelloWorldApp/dist/
/Ficha1/PP_FP01/nbproject/private/
/Ficha1/PP_FP01/build/
/Ficha1/PP_FP01/dist/
/Ficha1/exerc/ex1/nbproject/private/
/Ficha1/exerc/ex1/build/
/Ficha1/exerc/ex2/nbproject/private/
/Ficha1/exerc/ex3/nbproject/private/
/Ficha1/exerc/ex3/build/
/Ficha1/exerc/ex4/nbproject/private/
/Ficha1/exerc/ex5/nbproject/private/
/Ficha1/exerc/ex5/build/
/Ficha1/exerc/ex6/nbproject/private/
/Ficha1/exerc/Ex1/nbproject/private/
/Ficha2/Ex1/nbproject/private/
/Ficha2/PP_FP02/nbproject/private/
/Ficha2/PP_FP02/build/
/Ficha2/Exer2/nbproject/private/
/Ficha2/Exer2/build/
/Ficha2/Exer3/nbproject/private/
/Ficha2/Exer3/build/
/Ficha2/Exer4/nbproject/private/
/Ficha2/Exer4/build/
/Ficha2/Exer5/nbproject/private/
/Ficha2/Exer5/build/
/Ficha2/Exer6/nbproject/private/
/Ficha2/Exer6/build/
/Ficha3/Exer1/nbproject/private/
/Ficha3/Exer1/build/
/Ficha3/Exer2/nbproject/private/
/Ficha3/Exer2/build/
/Ficha3/Exer3/nbproject/private/
/Ficha3/Exer3/build/
/Ficha3/Exer4/nbproject/private/
/Ficha3/Exer4/build/
/Ficha3/Exer5/nbproject/private/
/Ficha3/Exer5/build/
/Ficha3/Exer6/nbproject/private/
/Ficha3/Exer7/nbproject/private/
/Ficha3/Exer7/build/
/Ficha3/Exer8/nbproject/private/
/Ficha3/PP_FP04/nbproject/private/
/Ficha4/PP_FP04/build/
/Ficha4/PP_FP04/dist/